@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #050414;
}

* {
    font-family: Saira, sans-serif;
}



/* for typewriting effect*/

.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #8B5CF6;
    width: fit-content;
    animation: typing 3s steps(24, end) forwards,
               blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 24ch; }   /* "Frontend React Developer" = 24 characters */
}
    


@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #8B5CF6;
    }
}